<div class="section">
  <div class="spec-container" style="display: flex;">
    <div class="spec-inner">
      <div class="section-inner">
        <div class="section-item img">
          <img src="assets/offer.png" alt="">
        </div>
        <div class="section-item section-item-second">
          <div class="section-item-body">
            <app-subtitle style="padding-bottom: 30px; display: block;" text="Выгодные условия"></app-subtitle>

            <div class="offer">
              <div class="offer-subtitle"> 0 ₽ </div>
              <p class="offer-text">Интернет-банк, открытие счета</p>
            </div>

            <div class="offer">
              <div class="offer-subtitle"> 0,5 % </div>
              <p class="offer-text">Комиссия за снятие</p>
            </div>

            <div class="offer">
              <div class="offer-subtitle">0% до 10 млн ₽ </div>
              <p class="offer-text">Переводы физлицам</p>
            </div>

          </div>

        </div>


      </div>
    </div>



  </div>
</div>