<div class="hero-wrapper">
  <div class="header" style="width: 100%
  ;">
    <app-banner style="width: 100%;
    display: flex;
    justify-content: center;"></app-banner>
  </div>


</div>

<div class="glass-object" style="top: 14%; left: 84px; background-color: rgba(255, 255, 0, 0.664); width: 66px;">
</div>
<div class="glass-object" style="top: 34%; left: 64%; background-color: rgba(0, 0, 255, 0.582);">
</div>
<div class="glass-object" style="top: 20%; left: 30%; background-color: rgba(76, 0, 130, 0.444); height: 88px;">
</div>
<div class="glass-object" style="top: 24%; left: 58%; background-color: rgba(0, 128, 0, 0.712);">
</div>
<div class="glass-object" style="top: 44%; left: 44%; background-color: rgba(128, 0, 70, 0.712);">
</div>

<app-icon-section-layout></app-icon-section-layout>
<app-section-offer></app-section-offer>
<app-steps-layout></app-steps-layout>
<app-registration-form-layout></app-registration-form-layout>