button.material-btn {
  cursor: pointer;
  line-height: 2.7rem;
  font-size: 15px;
  position: relative;
  background-color: var(--c2);
  color: white;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: var(--font);
  max-width: 300px;
  vertical-align: middle;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.1s ease-in-out;
  display: flex;
  min-width: 135px;
  border: none;
  border-radius: 13px;
  font-weight: 400;
  font-size: 14px;
}

button.material-btn:hover {
  background-color: var(--c2-hover);
  color: white;
}
button:disabled,
button:hover:disabled {
  background-color: rgb(139, 139, 139);
}

.material-icons {
  margin-right: 7px;
  font-size: 15px;
}
