<div class="spec-container" style="display: flex; justify-content: center;">
  <div class="spec-inner">
    <div class="banner">

      <div class="banner-text-wrapper">
        <div class="banner-text">
          <h1>Зарегистрируем бизнес и откроем счёт за 15 минут</h1>
          <p class="banner-text-subtext">
            Бесплатно, без визитов в налоговую, МФЦ и офис банка
          </p>

          <div class="btn-wrapper">
            <a class="btn-inner">
              <app-mat-button [routerLink]="[ '/account/']" style="text-decoration: none;"
                text="Зарегистрировать бизнес">
              </app-mat-button>
            </a>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>

      <div class="banner-img-wrapper">
        <img class="phone" src="assets/phone.png" alt="" srcset="">
        <div class="banner-img-info">
          <div class="banner-img-info-inner">
            <img class="banner-img-info-quadr" src="assets/label_hero.png" alt="" srcset="">
          </div>
          <div class="banner-img-info-description">
            <p class="number">
              30 000 +
            </p>
            <p class="text">
              зарегистрированых компаний
            </p>

          </div>
        </div>


      </div>





    </div>
  </div>


</div>


<!-- <div class="banner-img-wrapper">
          <div class="banner-img">
            <img src="assets/main/banner.png">
          </div>
    
    
    
        </div> -->