.section {
  display: flex;
  // background-color: rgba(119, 119, 112, 0.493);
  justify-content: center;
  padding-bottom: 100px;
}

.steps {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  width: 100%;
  // background-color: rgba(153, 205, 50, 0.452);
}

.step {
  margin-right: 30px;
}

.step-body {
  padding-right: 30px;
}

hr {
  top: 50px;
  position: relative;
  border-top: 1px dashed var(--c2);
  z-index: -1;
  width: 90%;
}

.step-header {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 930px) {
  .step-body {
    padding-right: 0px;
  }
}

@media (max-width: 730px) {
  .steps {
    display: flex;
    flex-direction: column;
  }

  .step {
    margin-bottom: 50px;
  }

  .hr-horizontal {
    display: none;
  }

  app-subtitle {
    text-align: center;
    padding-bottom: 30px;
    display: block;
  }

  .step {
    margin-right: 0px;
  }

  .step-body,
  .step-header,
  .step-img {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 0px;
  }
}
